<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate @users%>

<ul class="users">
    <%= render @users %>
        <%# => app/views/リソース名/_モデル名.html.erb %>
        <%# => app/views/users/_user.html.erb %>
</ul>

<%= will_paginate %>
